/*Вставка шрифта*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,400&display=swap'); 

.header {
	position: absolute;
	z-index: 1;
	width: 100%;
	background: rgba(0, 0, 0, .7)
}
.custom-nav {
	margin-bottom: 0;
	border-radius: 0;
	border-color: #080F17;
	border-bottom-color: #D32A3D;
	border-bottom-width: 3px;
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	height: 70px;


	
}
.custom-navbar-collapse {
	padding: 0;
}


.navbar-nav li{
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #1C232B;
	height: 66px;
	border: 10px;
	
}


.navbar-nav li:hover{
	background-image: -webkit-linear-gradient(top,#D32A3D 0,#D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.05);
	transition: 1s ease;

	
}
.navbar-nav li:active::before{
	background-image: -webkit-linear-gradient(top,#D32A3D 0,#D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
}

.navbar-right li{
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #1C232B;
	height: 66px;
	width: 150px;
	border: 10px;

}

.navbar-right li:hover {
	background-image: -webkit-linear-gradient(top, #44D6BF 0, #44D6BF 100%);
	background-color: #44D6BF;
	color: #ffff;
	border-color: #44D6BF;
	transform: scale(1.05);
	transition: 1s ease;
}


.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #D32A3D;
}

.btn-group li:hover{
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.05);
	transition: 1s ease;
}

/* Расположение ширифта */

.navbar-nav a{
	margin-top: 5px;
}

.navbar-right a{
	margin-top: -3px;
}


.dropdown-menu{
	margin-left: -30px;
}




.dropdown-menu li{
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #1C232B;
	
	height: 40px;
	
	color: #FFFFFF;
}


.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #FFFFFF;
	white-space: nowrap;
	
}

.dropdown-menu>li>a:hover {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #FFFFFF;
	white-space: nowrap;
	background: #D32A3D;
}






.navbar-right .dropdown-menu {
	right: 90px;
	left: 30px;
}

.navbar-default 
.navbar-nav>li>a {
	color: #ffffff;
}


.dropdown-menu:hover {
	padding: #00FFD7;
}




.dropdown a {

	background-color: none;
	
}

.dropdown a:hover {
	color: #ffffff;
	background-color: rebeccapurple;
}





.navbar-default .navbar-nav>.active>.hover>a {
	background-image: linear-gradient(to bottom, #ff0000 0, #fe0000 100%);

}




.navbar-default .navbar-nav>.open>a:hover {
	color: #ffffff;
	background-color: #D32A3D;
}


.dropdown-toggle:hover:active{
	background: #D32A3D;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: red; 
	border-color: #337ab7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-image: -o-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2)); 
	background-image: linear-gradient(to bottom, #D32A3D 0, #D32A3D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
	background-repeat: repeat-x; 
	-webkit-box-shadow: inset 0 3px 9px rgb(0 0 0 / 8%); 
	box-shadow: inset 0 3px 9px rgb(0 0 0 / 8%); 
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #FFFFFF;
	background-color: #e7e7e7;
}


.sales-block {
	background-color: black;
}

/* Картинки верхний ряд */

.sales-block-pictures w div {
	width: 25%;
	height: auto;
	float:left;
}
.sales-block-pictures e img {
	width: 100%;
	height: 100%;
}

/* Верхний ряд картинок надпись */

.conteinered-block-mango{
	padding-top: 10px;
	margin-left: 0px;
	height: 320px;
	width: 390px;
}

.conteinered-block-mango p{
	font-family: Montserrat;
	font-size: 25px;
	text-align: left;
	font-weight: 700;
	color: #FFFFFF;
	margin-left: 0px;
	float: left;
	margin-top: 60px;
}

.conteinered-block-mango h1{
	font-family: Montserrat;
	font-size: 23px;
	text-align: left;
	font-weight: 700;
	color: #ffffff;
	margin-top: 70px;
	margin-left: 0px;
	padding-top: 0px;
	width: 130px;
	height: 80px;
}

.conteinered-block-mango button{
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 700;
	border-color: #D32A3D;
	height: 50px;
	width: 110px;
	margin-right: 5px;
	margin-top: -10px;
	float: left;
}

.conteinered-block-mango button:hover {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.05);
	transition: 1s ease;

}

.conteinered-block-mango button::before {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
}


/* Картинки нижний ряд */

.sales-block-pictures-bottom e div {
	width: 25%;
	height: auto;
	float: left;

	padding-top: 30px;
	padding-bottom: 54px;
	padding: 28px;


}

.sales-block-pictures-bottom img {
	width: 100%;
	height: 100%;
	
}

/* Нижний ряд картинок надпись */

.conteinered-block-aple {
	padding-top: 20px;
	margin-left: 100px;
	height: 170px;
	width: 130px;
}


.conteinered-block-aple h1 {
	font-family: Montserrat;
	font-size: 15px;
	text-align: right;
	font-weight: 200;
	color: #ffffff;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
}

/* 35% */

.conteinered-block-aple p {
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	font-weight: 700;
	color: #FFFFFF;
	border: 3px solid #00FFD7;
	padding: 8px 8px 8px 8px;
	margin-left: 22px;
	float: left;
	margin-top: 0px;
}

/* BUY NOW */

.conteinered-block-aple button {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 200;
	border-color: #D32A3D;
	height: 30px;
	width: 70px;
	margin-right: 5px;
	margin-top: 10px;
	float: right;

}

.conteinered-block-aple button:hover {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.1);
	transition: 1s ease;

}

.conteinered-block-aple button::before {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
}



.sales-block-text p {
    font-family: Montserrat;
	font-size: 48px;
	text-align: center;
	font-weight: 800;
	color: #ffffff;

	padding-top: 350px;

}
.logo-block img{
	padding-top: 20px;
	margin-left: 15px;
}


.heder-top{
	height: 110px;
}

.navbar-left{
padding-top: 30px;
	
}

.navbar-default 
.navbar-nav>li>a {
	color: #ffffff;
}


.serth-impyt{
  outline: none;
  background: transparent;
  background: rgba(211, 42, 61, 0.5);
	
  color: #FFFFFF;
  width: 100%;
  height: 42px;
  border: 0px solid rgba(211, 42, 61, 0.5);
  padding-left: 15px;
  margin-left: 250px;

  width: 316px;

  border-radius: 0px;

}

.serth-impy:before {
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  color: #FFFFFF;
}

.custom-navbar-collapse li{
	border-left-color: #080F17 ;
}

.sales-batten-block button{
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	border-radius: 0px;
	color: #8D9195;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #1C232B;
	height: 76px;
	border-top: 6px solid #484C4E;
}

.sales-batten-block button:hover{
	background-image: -webkit-linear-gradient(top,#080F17 0,#080F17 100%);
	background-color: #080F17;
	
	color: #ffff;
	border-color: #080F17;
	border-top: 6px solid #44D6BF;

}
.sales-main-butten-bloc{
	border-top: 6px solid #484C4E;
}
.sales-main-butten-bloc-in{
	margin-top: -6px;
}


.dropdown-menu{
	background-image: -webkit-linear-gradient(top,#1C232B 0,#1C232B 100%);
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
}

.carousel-indicators li{
	border-color: #000000;
}

/* EN */

.dropdown-toggle-pub{
	background-image: -webkit-linear-gradient(top,#656B6F 0,#656B6F 100%);
	border-radius: 0px;
	border: 0px;
	text-shadow: none;
	font-family: Montserrat;
	color: #FFFF;
	margin-left: 398px;
	width: 64px;
	height: 40px;
	margin-top: 40px;
	
}

.dropdown-toggle-pub:hover {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.1);
	transition: 1s ease;

}

.dropdown-toggle-pub::before {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
}

/* LOGIN */

.btn-default-face {
	background-image: -webkit-linear-gradient(top,#656B6F 0,#656B6F 100%);
	border-radius: 0px;
	border: 0px;
	text-shadow: none;
	font-family: Montserrat;
	color: #FFFF;
	margin-left: 39px;
	width: 124px;
	height: 40px;
	margin-top: 40px;
	
}

.btn-default-face:hover {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.1);
	transition: 1s ease;

}

.btn-default-face::before {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
}



.btn-default-face-hover{
	background-image: -webkit-linear-gradient(top,#080F17 0,#080F17 100%);
	background-color: #080F17;
	
	color: #ffff;
	border-color: #080F17;
	border-top: 6px solid #44D6BF;
}

.divider{
	background-image: -webkit-linear-gradient(top,#333F4C 0,#333F4C 100%);
}





.block-footer{
	background-color: #080F17;
	font-size: 540px;

	margin-bottom: 0px;
}

.block-footeredi{
	background-color: #2E3235;
	font-size: 540px;

	margin-bottom: 0px;
	height: 360px;
}

.block-footeryp{
	background-color: #080F17;
	

	margin-bottom: 0px;
}



.rist-hit p{
	color: #59656B;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	margin-left: 80px;

}

.rist-hiting p{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	margin-left: 80px;

}





.btn-lg{
	background-image: -webkit-linear-gradient(top,#44D6BF 0,#44D6BF 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #44D6BF;
	height: 76px;
	width: 240px;
	margin-left: 80px;
	
}

.btn-lg-fier{
	background-image: -webkit-linear-gradient(top,#44D6BF 0,#44D6BF 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #44D6BF;
	height: 48px;
	width: 64px;
	margin-left: 80px;
}

.rist-hiter p{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 600;
	margin-left: 80px;
}

.rist-hitinge-ru p{
	color: rgba(255, 255, 255, 0.6);;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 500;
	margin-left: 13px;
}

.rist-hitingere p{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 800;
	margin-left: 13px;
}

.rist-hitent p{
	color: #FFFFFF 60%;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	margin-left: 80px;
}


.give-list{
	text-align: center;
	width: 1719px;
	
}

.logo-blocking{
	padding-top: 5px;
	
}

.logo-blockingyp{
	padding-top: 5px;
}


.unreal{
	background-size: cover;
}




.block-footeruc{
background-color: #080F17;
	margin-bottom: 0px;
	

}

.job img{
	
    margin-bottom: 0px;
	background-position: center center;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: relative;


	background-size: contain;
	
	
}





/* Надпись на основных картинках */

.conteinered-block-inter{
	padding-top: 200px;
	margin-left: 0px;
	margin-right: 190px;
	height: 890.44px;
	width: 460px;
	float: right;
	
	
}



.conteinered-block-inter h1 {
	font-family: Montserrat;
	font-size: 36px;
	text-align: left;
	font-weight: 700;
	color: #ffffff;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;

}

/* Скидка */

.conteinered-block-inter p {
	font-family: Montserrat;
	font-size: 25px;
	text-align: left;
	font-weight: 700;
	color: #FFFFFF;
	border: 3px solid #00FFD7;
	padding: 15px 15px 15px 15px;
	margin-right: 0px;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	
}

/* BUY NOW */

.conteinered-block-inter button {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	border-color: #D32A3D;
	height: 70px;
	width: 270px;
	margin-right: 50px;
	margin-top: 10px;
	float: right;

}

.conteinered-block-inter button:hover {
	background-image: -webkit-linear-gradient(top, #D32A3D 0, #D32A3D 100%);
	background-color: #D32A3D;
	color: #ffff;
	border-color: #D32A3D;
	transform: scale(1.1);
	transition: 1s ease;

}






.conteinered-block-aple-one {
	padding-top: 0px;
	margin-left: 0px;
	margin-right: 50px;
	height: 100px;
	width: 300px;
	float: right;
	
	
	
}



/* Windows */

.conteinered-block-aple-one button{
	background-image: -webkit-linear-gradient(top, #656B6F 0, #656B6F 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 700;
	border-color: #656B6F;
	height: 40px;
	width: 150px;
	margin-right: 0px;
	margin-top: 0px;
	float: right;
}

.conteinered-block-aple-one button:hover{
	background-image: -webkit-linear-gradient(top, #565b5e 0, #565b5e 100%);
	background-color: #565b5e;
	color: #ffff;
	border-color: #565b5e;
	transform: scale(1.1);
	transition: 1s ease;
}

/* Звезды */




















.ztd {
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  border: 2px solid #000;
  margin-bottom: 50px;
  background: #ccc
}














#headerwrap{
	background: url("../img/Group 98.jpg") no-repeat center top;
	
	padding-top: 1200px;
	background-position: center center;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}




.about-us-head-text p{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 800;
	margin-left: 48px;
	margin-top: 87px;
	text-align: center;
}

/* Левый блок */

.about-us-left-block {
	float: left;
	margin-left: 0px;

	height: 300px;
	
}

.about-us-right-block {
	padding: 0;
	
}

.about-us-right-block t div {
	float: left;
	
	height: 380px;
	width: 780px;
}

.about-us-right-block у img {
	width: 100%;
	height: 100%;
	margin-left: 80px;
}

.about-us-right-block-in-first к{
	width: 353px;
	height: 340px;
}

.about-us-right-block-in-second r {
	width: 427px;
	height: 340px;
	padding-left: 20px;
}

/* Надпись на первой картинке */

.footer-top-blockenderer{
	margin-top: 180px;
	
}

.footer-top-blockenderer p {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 200;
	margin-left: 10px;
	margin-top: 0px;
	text-align: left;
}

.footer-top-blockenderer ul {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 200;
	margin-left: -10px;
	margin-top: 0px;
	text-align: left;
}

.footer-top-blockenderer a {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 200;
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
	text-decoration: none;
}

.footer-top-blockenderer a:hover {
	color: #000000;
	font-family: Montserrat;
	background-color: #FFFFFF;
	font-size: 13px;
	font-weight: 200;
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
	text-decoration: none;


}

.footer-top-blockenderer img {

	width: 140px;
	height: 140px;
	margin-left: 130px;
	margin-top: -190px;
}

/* Надпись на второй картинке */


/* Кнопка запуска видео */

.control,
.control * {
	box-sizing: content-box;
	letter-spacing: 0;
}

.control {
	border: 3.2px solid #ffffff;
	border-radius: 50%;
	margin: 130px;
	padding: 28px;
	width: 50px;
	height: 50px;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
}

.control,
.control .right,
.control:before {
	display: inline-block;
	vertical-align: middle;
	transition: border 0.2s, width 0.2s, height 0.2s, margin 0.2s;
}

.control:before {
	content: "";
	height: 50px;
}


.control.play .right {
	margin-left: 10px;
	border-left: 38.496px solid #44D6BF;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	height: 0px;
}


.control:hover {
	border-color: #c7cccf;
	transform: scale(1.05);
	transition: 1s ease;
}


.control:hover .right {
	border-left-color: #3b918c;
	transform: scale(1.05);
	transition: 1s ease;
}
























.sale-bottom-block{
	background-color: #080F17;
	height: 640px;
}

/* SALE -25% */

.sale-bottom-block-image {
	width: 100%;
	height: 340px;

	width: 1520px;

	margin-top: 105px;
	margin-left: -100px;

	background: url(../img/sale-bottom.jpg) 100% 100% no-repeat; /* Добавляем фон */
  background-size: cover; /* Масштабируем фон */
}

.sale-bottom-block-text {
	text-align: center;
	margin-top: 125px;
}
.sale-bottom-block-text p {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 19px;
	font-weight: 800;
}

.sale-bottom-block-text span {
	color: #D32A3D;
}

.footer-top-block {
	height: 302px;
	background-color: #080F17;
	border-top: 4px solid #484C4E;
}

.footer-top-block .col-lg-4 {
	height: 298px;
}

.footer-top-block p {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
	font-weight: 800;

	padding-top: 48px;
}

.footer-top-block ul {
	padding-left: 13px;

	color: #44D6BF;
	
}

.footer-top-block li:hover {
	padding-left: 7px;

	color: #D32A3D;
	
}

.footer-top-block li{
	padding-bottom: 25px;
}


/* Текст первый столбец */

.footer-top-first-list {
	margin-left: 130px;
}

.footer-top-first-list a{
    color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	
}

/* Текст второй столбец */

.footer-top-second-list {
	margin-left: 123px;
}

.footer-top-second-list a{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}

/* Текст третий столбец */

.footer-top-thrid-list {
	margin-left: 129px;
}

.footer-top-thrid-list a{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}

.footer-top-block li {
	height: 15px;
	width: 141px;
}

.footer-top-block-extra-center {
	border-left: 4px solid #484C4E;
	border-right: 4px solid #484C4E;
}

.footer-center-block {
	height: 360px;
	background-color: #2E3235;
}

.footer-center-block p {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
	font-weight: 800;
	padding-top: 40px;
}

.footer-center-block .col-lg-4 {
	height: 360px;
}

.footer-center-block-left img {
	width: 100%;
	padding-top: 24px;

	
}

/* Текст с лева */

.footer-center-block-left-text {
	color: #8D9195;
	font-family: Montserrat;
	font-size: 15px;
	
	font-weight: 500;
	padding-top: 10px;
}

.footer-top-block-extra-center div {
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 30px;
	
}


.footer-top-block-extra-center a{
	margin-top: 0px;
}




/* Текст с права */

.footer-center-block-right-text{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 500;
	padding-top: 10px;
}

/* Поиск */

.serth-impyt-right{
  outline: none;
  background: transparent;
  background: #FFFFFF;
	
  color: #000000;
  width: 100%;
  height: 42px;
  border: 0px solid rgba(211, 42, 61, 0.5);
  padding-left: 15px;
  margin-left: 250px;

  width: 316px;

  border-radius: 0px;

}

.serth-impy-right:before {
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  color: #FFFFFF;
}

















.d4 form {
  width: 310px;
  height: 42px;
  margin-top: 30px;
  margin-left: 20px;

  
  
  
}
.d4 {

  width: 300px;
  height: 70px;
  
}
.d4 input, .d4 button {

  outline: none;
  background: transparent;
  background: #FFFEFE;

 


}
.d4 input {
  width: 240px;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
.d4 input::-webkit-input-placeholder {
  color: #000000; 
}
.d4 button {
  border: none;
  height: 42px;
  width: 69px;

  margin-top: 0px;
  margin-left: px;
  
  cursor: pointer;
  background: #000000;
  float: right;

  
}
.d4 button:before {
  content: "+ ADD";
  font-family: FontAwesome;
  font-size: 16px;
  color:  #FFFEFE;
}
.d4 input:focus {
  border-color: #311c24
}



/* Нижний блок */

.sale-bottom-block-non{
	background-color: #000000;
	
    height: 150px;
}

.sale-bottom-block-non-image {
    width: 100%;
    height: 100px;
    width: 1400px;

    margin-left: -120px;
    background: black;
    background-size: cover;
}






.logo-blocking{
	padding-top: 44px;
	padding-left: 0px;
	margin-left: -120px;
}


/* GAMESTORE.NET */

.sale-bottom-block-non-image p{
	color: #ffffff;
	font-family: Montserrat;
	text-align: left;
	font-size: 12px;
	font-weight: 600;
	padding-top: 44px;

	margin-left: 250px;
	
}

.sale-bottom-block-non-text{
	margin-left: 0px;
	
}

.sale-bottom-block-non-text p{
    color: #ffffff77;
	font-family: Montserrat;

	text-align: right;
	font-size: 12px;
	font-weight: 400;

	line-height: 14,63px;
	padding-top: 0px;
	margin-top: -30px;
	margin-right: 120px;

	
}



.sale-bottom-block-non-image button{
	background-image: -webkit-linear-gradient(top,#44D6BF 0,#44D6BF 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
	border-color: #44D6BF;
	height: 48px;
	width: 64px;
	margin-left: 80px;
	margin-top: -40px;

	float: right;

	
}

.sale-bottom-block-non-image button:hover{
	background-image: -webkit-linear-gradient(top,#3b918c 0,#3b918c 100%);
	background-color: #080F17;
	
	color: #ffff;
	border-color: #3b918c;
	transform: scale(1.1);
	transition: 1s ease;
	
}























/* GameStore - excellent platform for players and developers. */

.about-us-left-block p{
	padding-top: 55px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	text-align: left;
	font-weight: 700;
}





/* Точка с лева */

.footer-top-blockend{
	height: 80px;
	width: 170px;
	float: left;

}

.footer-top-blockend a{
	padding-top: -50px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 15px;
	text-align: line;
	font-weight: 400;
	margin-left: 0px;
	text-decoration: none;

}

.footer-top-blockend ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-top-blockend li {
	padding: 5px;
	font-size: 16px;
}

.footer-top-blockend li:before {
	content: '';
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #40C0AC;
	margin-right: 5px;
}

.footer-top-blockend p{
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 22px;
	text-align: line;
	font-weight: 200;
	margin-left: 5px;
	
}

/* Точка с права */

.footer-top-blockender {
	height: 80px;
	width: 170px;
	float: right;

}

.footer-top-blockender a {
	padding-top: -50px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 15px;
	text-align: line;
	font-weight: 400;
	margin-left: 0px;
	text-decoration: none;

}

.footer-top-blockender ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-top-blockender li {
	padding: 5px;
	font-size: 16px;
}

.footer-top-blockender li:before {
	content: '';
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #EF2F44;
	margin-right: 5px;
}

.footer-top-blockender p {
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 22px;
	text-align: line;
	font-weight: 200;
	margin-left: 5px;
}
















/* INSTALL GAMESTORE */

.about-us-left-block button{
	background-image: -webkit-linear-gradient(top,#44D6BF 0,#44D6BF 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
	border-color: #44D6BF;
	height: 65px;
	width: 250px;
	margin-left: 0px;
	margin-top: 30px ;
}

.about-us-left-block button:hover{
	background-image: -webkit-linear-gradient(top,#3b918c 0,#3b918c 100%);
	background-color: #080F17;
	
	color: #ffff;
	border-color: #3b918c;
	transform: scale(1.05);
	transition: 1s ease;

}



/* Accessories */

.sale-bottom-block-image p{
	color: #59656B;
	font-family: Montserrat;
	font-size: 48px;
	text-align: left;
	font-weight: 700;
	padding-top: 113px;
	padding-left: 128px;
}




/* Get promocode */

.sale-bottom-block-image button{
	margin-top: 20px;
    margin-left: 141px;
	background-image: -webkit-linear-gradient(top,#44D6BF 0,#44D6BF 100%);
	border-radius: 0px;
	color: #FFFFFF;
	text-shadow: none;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	border-color: #44D6BF;
	height: 75px;
	width: 240px;
	
}

.sale-bottom-block-image button:hover{
	background-image: -webkit-linear-gradient(top,#3b918c 0,#3b918c 100%);
	background-color: #080F17;
	
	color: #ffff;
	border-color: #3b918c;
	transform: scale(1.05);
	transition: 1s ease;	
}














